.img {
    width: 100%;
    height: 260px;
    object-fit: contain;
}
.font {
    font-size: 30px;
    text-align: center;
}

.div {
    width: 100%;
    height: 260px;
    /* background: url(../static/images/1.png) no-repeat center; */
    /* background-size: cover; */
}

.div1 {
    width: 100%;
    height: 260px;
    background: url(../static/images/1.png) no-repeat center;
    background-size: cover;
}